.control-btn button{
    background: white;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .control-btn .next{
    position: absolute;
    top: 25%;
    right: 0%;
  }
  .control-btn .prev{
    position: absolute;
    top: 25%;
   left: 0%;
    z-index: 999;
  }
  .fa-chevron-right{
    font-size: 14px;
    transform: translateY(50%,-50%);
    -webkit-transform: translateY(50%,-50%);
    -moz-transform: translateY(50%,-50%);
    -ms-transform: translateY(50%,-50%);
    -o-transform: translateY(50%,-50%);
}
  .fa-chevron-left{
    font-size: 14px;
    transform: translateY(50%,-50%);
    -webkit-transform: translateY(50%,-50%);
    -moz-transform: translateY(50%,-50%);
    -ms-transform: translateY(50%,-50%);
    -o-transform: translateY(50%,-50%);
    
  }